body {
    background-color: #f6f6ef;
}
.header {
    display: flex;
    justify-content: center;
    margin: auto;
}
.subheader {
    margin-left: 2rem;
}
.content {
    margin-left: 2rem;
    display: flex;
    flex-direction: column;

}
.article {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    color: black;
}